# <% @photos.each do |photo| %>
# 	<%= photo.caption %>
# <% end %>
 
# <p>
#   <b>Public:</b>
#   <%= @post.public %>
# </p>
 
# <p>
#   <b>Caption:</b>
#   <%= @post.caption %>
# </p>
 
# <p>
#   <b>Image:</b>
#   <%= @post.image %>
# </p>
 
 
# <%= link_to 'Edit', edit_photo_path(@photo) %> |
# <%= link_to 'Back', photos_path %>